.DS_Store

# dependencies
/currentProject/node_modules
/currentProject/package-lock.json
/currentProject/env
/currentProject/build
/currentProject/express-server/node_modules
/currentProject/express-server/package-lock.json


/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
