body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* layout styling */
.logo {
    height: 32px;
    margin: 16px;
    color: white;
    font-size: x-large;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  

  .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout-sub-header-background {
      background: #141414;
    }

   
    section .wave
    {
        position: relative;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(./wavebkg.png);
        background-size: 1000px 100px;
        animation: animate 8s linear infinite;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }

    @keyframes animate
    {
        0%
        {
            background-position-x: 0;
        }
        100%
        {
            background-position-x: 1000px;
        }
    }

.join-btn{
    width: 100%;
}
.join-form{
    padding-top: 120px;
}

.profile_title{
    font-size: xx-large;
    font-weight: 400;
}
.signupformstyle{
    margin: auto auto;
    margin-top: 60px;
}

.loginformstyle{
    margin: auto auto;
    margin-top: 100px;
}